@font-face {
    font-family: 'Gloria';
    src: url('./GloriaHallelujah-Regular.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IndieFlower';
    src: url('./IndieFlower-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./RobotoMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Sharpie';
    src: url('./PermanentMarker-Regular.ttf');
}

body {
    background-image: url(./wood.jpg);
}

#overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
}

.overlayVisible {
    display: block;
}

.overlayHidden {
    display: none;
}

#container {
    height: 80vh;
    min-height: 747px;
    min-width: 850px;
    max-width: 1270px;
    max-height: 760px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1.2fr 4fr;
    border-radius: 18px;
}

.sideBarLinks {
    margin-top: 12px;
    list-style-type: none;
    background-image: url(./bulletPoint.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 2.6rem;
    margin-left: 15px;
    cursor: pointer;
}

#dataList {
    cursor: alias;
    display: block;
}

#dataList > li {
    cursor: pointer;
    display: block;
}

#newProjectBtn {
    margin-top: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.proList {
    padding-left: 10px;
    margin-top: 8px;
}

#headerContainer {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f16775;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

#header {
    font-size: 5.8rem;
    font-family: 'IndieFlower';
    display: flex;
    margin-right: 40px;
}

#sideBar {
    background-color: #373e98;
    font-family: 'Roboto';
    font-weight: 500;
    border-bottom-left-radius: 18px;
    color: #dac120;
}

#sideBar > li:nth-child(1), #sideBar > li:nth-child(2)  {
    display: block;
}

#content {
    background-color: #fee36e;
    display: flex;
    flex-direction: column;
    overflow:auto;
    border-bottom-right-radius: 18px;
}





/* This section handles create new to do/project form */

#inputContainer {
    background-color: azure;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
    position: absolute;
    margin-top: 20vh;
    margin-left: 30vw;
    width: 580px;
    height: 385px;
    transform-origin: 50% 50%;
    transition: visibility 0s 0.5s, transform 0.5s ease-in-out;
    z-index: 3;
    font-family: 'Sharpie';
    border-radius: 20px;
}

.inputHeader {
   display: flex;
   justify-content: space-between;
   background-color:  #3A6B35;
   align-items: center;
   grid-column: 1/3;
   grid-row: 1/2;
   border-top-left-radius: 18px; 
   border-top-right-radius: 18px;
   font-size: 1.7rem;
   letter-spacing: 1.6px;
}

.inputSide {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #E3B448; 
    border-bottom-left-radius: 18px;
}

.sideTodo, .sideProject {
    margin-left: 18px;
    margin-top: 12px;
    font-size: 1.4rem;
    cursor: pointer;
}

#rightSideDiv {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color:#CBD18F;
    border-bottom-right-radius: 18px;
}

.inputTitle {
    margin-left: 18px;
    margin-bottom: 8px;
    margin-top: 8px;
}

#closeInput, #closeDetails {
    margin-right: 20px;
    border: 2px solid transparent;
    font-family: 'Roboto';
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 900;
    font-size: 1.8rem;
    transition: 0.2s all ease-in-out;
}

#closeInput:hover, #closeDetails:hover {
    border: 2px solid black;
}

#closeInput:active, #closeDetails:active {
    background-color: #c7ddcc;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    padding-top: 10px;
}

fieldset > div > label {
    display: block;
}

fieldset > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 1.1rem;
}

#todoTitle, #todoDescription, #projectNameInput {
    width: 290px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #eeeeee;
    font-size: 1.1rem;
}

#todoDate {
    border: 3px solid #3A6B35;
    margin-right: 160px;
    border-radius: 6px;
    padding: 8px;
    background-color: #eeeeee;
}

.prioDiv {
    margin-top: -30px;
}

.prioDiv > p {
    font-size: 1.1rem;
    padding-left: 14px;
    letter-spacing: 1.4px;
    margin-bottom: 6px;
}

input[type=radio] {
    border: 0;
    clip: rect(0,0,0,0);
    height: 0px;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 0px;
    position: absolute;
}

#prioBtnContainer>label {
    margin-left: 37px;
    padding: 8px;
    border: 2px solid;
    display: inline-block;
    width: 70px;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 10px;
    background-color: #eeeeee;
    transition: 0.4s all;
}

#prioBtnContainer>label:nth-child(2) {
    border: 2px solid green;
    color: green;
}

#prioBtnContainer>label:nth-child(2):hover, #prioBtnContainer>input:nth-child(1):checked + label {
    border: 2px solid black;
    background-color: green;
    color: white;
}

#prioBtnContainer>label:nth-child(4) {
    border: 2px solid orange;
    color: orange;
}

#prioBtnContainer>label:nth-child(4):hover, #prioBtnContainer>input:nth-child(3):checked + label {
    border: 2px solid black;
    background-color: orange;
    color: white;
}

#prioBtnContainer>label:nth-child(6) {
    border: 2px solid red;
    color: red;
}

#prioBtnContainer>label:nth-child(6):hover, #prioBtnContainer>input:nth-child(5):checked + label {
    border: 2px solid black;
    background-color: red;
    color: white;
}

#prioBtnContainer{
    margin-left: 20px;
} 

#addTodoBtnContainer-Form {
    margin-top: 12px;
    text-align: center;
}

#addTodoBtn, #addProjectBtnForm, #addTodo-content {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
    font-size: 1.1rem;
    font-family: 'Sharpie';
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    border: 2px solid;
    transition: all 0.5s ease-in-out;
}

#addTodoBtn:hover {
    cursor: pointer;
    background-color: white;
}


#addTodo-container {
    margin-top: auto;
    margin-bottom: 34px;
    text-align: center;
}

#projectForm {
    font-size: 1.1rem;
    margin-left: 16px;
    margin-top: 12px;
}

#projectForm>label {
    margin-left: 122px;
}

#projectNameInput {
    width: 370px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10px;
}

#addProjectBtnForm {
    margin-left: 110px;
    margin-top: 14px;
    cursor: pointer;
    border: 2px solid #000000;
    transition: 0.5s ease-in-out;
}

#addProjectBtnForm:hover {
    background-color: white; 
  }

  /* This section is for todo card elements and add to button on main page (NOT in form) */

.mainInfo {
    background-color: #c7ddcc;
    color: #a77b17;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto';
    height: 52px;
}

.todoCard {
    margin-top: 18px;
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;

}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 1.3rem;
    height: 1.3rem;
    border: 2px solid green;
    border-radius: 4px;
    vertical-align: -2px;
    color: green;
    background: white;
    transition: 0.3s all ease-in-out;
}

input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 1.4rem;
    right: -1px;
    top: -0.2em;
    visibility: hidden;

}

input[type="checkbox"]:checked::before {
    visibility: visible;
}

input[type="checkbox"]:disabled {
    border-color: black;
    background: white;
    color: gray;
  }

.todoTitle {
    width: 300px;
    max-height: 52px;
    overflow: hidden;
    text-align: left;
    margin-left: 45px;
}

.detailsBtn {
    width: 68px;
    cursor: pointer;
    margin-right: 30px;
}

.todoDate {
    width: 135px;
    text-align: center;
}

.editBtn {
    height: 48px;
    width: 48px;
    cursor: pointer;
    padding-top: 4px;
}

.deleteBtn {
    width: 36px;
    padding-top: 8px;
    cursor: pointer;
}

 /* All Edit Container related CSS properties */
#editContainer {
    background-color: bisque;
    position: absolute;
    min-width: 475px;
    width: 30vw;
    min-height: 220px;
    height: 25vh;
    top: 40%;
    bottom: 40%;
    left: 35%;
    right: 40%;
    transform-origin: 50% 50%;
    transition: visibility 0s 0.5s, transform 0.5s ease-in-out;
    z-index: 3;
}

#proNameContainer {
    display: flex;
}

#editCancel {
    margin-left: auto;
}

#bottomDivEdit {
    display: flex;
    justify-content: space-between;
}

#conEditBtn {
    margin-right: 8px;
    margin-top: 15px;
    padding: 8px;
    border: 1px solid green;
}

#descriptionEdit {
    height: 70px;
    width: 420px;
    vertical-align: top;
    resize: none;
}

/* This section handles the details element */

#detailsContainer {
    background-color: azure;
    position: absolute;
    height: 250px;
    width: 30vw;
    min-width: 475px;
    top: 40%;
    bottom: 40%;
    left: 40%;
    right: 40%;
    transform-origin: 50% 50%;
    transition: visibility 0s 0.5s, transform 0.5s ease-in-out;
    z-index: 3;
    padding: 14px;
    border-radius: 12px;
}

.detailsVisible, .editContainer-visible, .inputContainer-visible {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

.detailsHidden, .editContainer-hidden, .inputContainer-hidden {
    transform: scale(0);
    opacity: 0;
}

#detailsContainer > div {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    margin-bottom: 10px;
}

#detailsContainer > div:nth-child(5) {
    margin-bottom: 10px;
    height: 85px;
}

#detailsContainer > div > div:nth-child(1) {
    margin-right: 10px;
}

#detailsContainer > div:nth-child(2),#detailsContainer > div:nth-child(3), #detailsContainer > div:nth-child(4) {
    justify-content: flex-start;
}

#detailsProject, #detailsPriority, #detailsDate, #detailsDescription {
    margin-right: 10px;
}

#detailsTitle {
    padding-top: 12px;
}

#detailsDescription {
    width: 375px;
    height: 85px;
}

#closeDetails {
    margin-left: auto;
    text-align: center;
    margin-right: 0px;
    width: 20px;
    height: 32px;
    padding-bottom: 4px;
}

#addTodo-content {
    font-family: 'Roboto';
}

/* For creating hover pulse effect */
@-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    text-decoration: underline;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  /* Push */
@-webkit-keyframes hvr-push {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes hvr-push {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  .hvr-push {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-push:hover, .hvr-push:focus, .hvr-push:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  /* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  /* Float Shadow */
.hvr-float-shadow {
    display: block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }